{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="container">
            <form class="form-horizontal" role="form" action="userform" method="post">
                <h2>Registration</h2>
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
<!--                <div class="form-group">-->
<!--                    <label for="Name" class="col-sm-3 control-label">Name</label>-->
<!--                    <div class="col-sm-9">-->
<!--                        <input type="text" id="Name" placeholder="Name" name="name" class="form-control" autofocus>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth*</label>-->
<!--                    <div class="col-sm-9">-->
<!--                        <input type="date" id="birthDate" name="dob" class="form-control">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                        <label for="Age" class="col-sm-3 control-label">Age* </label>-->
<!--                    <div class="col-sm-9">-->
<!--                        <input type="number" id="age" placeholder="Please enter your age" class="form-control">-->
<!--                    </div>-->
<!--                </div>-->
<!--                 <div class="form-group">-->
<!--                    <label class="control-label col-sm-3">Gender</label>-->
<!--                    <div class="col-sm-6">-->
<!--                        <div class="row">-->
<!--                            <div class="col-sm-4">-->
<!--                                <label class="radio-inline">-->
<!--                                    <input type="radio" id="femaleRadio" value="Female" name="gender">Female-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="col-sm-4">-->
<!--                                <label class="radio-inline">-->
<!--                                    <input type="radio" id="maleRadio" value="Male" name="gender">Male-->
<!--                                </label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="phoneNumber" class="col-sm-3 control-label">Phone number </label>-->
<!--                    <div class="col-sm-9">-->
<!--                        <input type="phoneNumber" id="phoneNumber" placeholder="Phone number" name="phonenumber" class="form-control">-->
<!--                        <span class="help-block">Your phone number won't be disclosed anywhere </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="email" class="col-sm-3 control-label">Email* </label>-->
<!--                    <div class="col-sm-9">-->
<!--                        <input type="email" id="email" placeholder="Email" class="form-control" name= "email">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="address" class="col-sm-3 control-label">Address* </label>-->
<!--                    <div class="col-sm-9">-->
<!--                        <input type="text" id="address" placeholder="Address" class="form-control" name= "address">-->
<!--                    </div>-->
<!--                </div>-->
<!--                 <div class="form-group">-->
<!--                    <label for="district" class="col-sm-3 control-label">District </label>-->
<!--                    <div class="col-sm-9">-->
<!--                        <select name="district" id="district">-->
<!--                            <option value="Kannur">Kannur</option>-->
<!--                             <option value="Kasargode">Kasaragode</option>-->
<!--                             <option value="Eranakulam">Eranakulam</option>-->
<!--                             <option value="Kollam">Kollam</option>-->
<!--                            <option value="Kottayam">Kottayam</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--                 <div class="form-group">-->
<!--                    <label for="branch" class="col-sm-3 control-label">Branch </label>-->
<!--                    <div class="col-sm-9">-->
<!--                        <select name="branch" id="branch">-->
<!--                            <option value="Kannur">Kannur</option>-->
<!--                             <option value="Kasargode">Kasaragode</option>-->
<!--                             <option value="Eranakulam">Eranakulam</option>-->
<!--                             <option value="Kollam">Kollam</option>-->
<!--                            <option value="Kottayam">Kottayam</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
                 <div class="form-group">
                    <label for="accounttype" class="col-sm-3 control-label">Account Type </label>
                    <div class="col-sm-9">
                        <select name="Account type" id="accounttype">
                            <option value="savings">Savings Account</option>
                             <option value="current">Current Account</option>
                        </select>
                    </div>
                </div>

                 <div class="form-group">
                    <label class="col-sm-3 control-label">Material provide </label>
                    <div class="col-sm-9">
                       <input type="checkbox"  name="debitcard" value="debitcard">Debitcard
                    </div>
                     <div class="col-sm-9">
                       <input type="checkbox" name="debitcard" value="creitcard">Creitcard
                    </div>
                     <div class="col-sm-9">
                       <input type="checkbox" name="checkbook" value="checkbook">Checkbook
                    </div>
                </div>

               <div class="form-group"> <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Submit</button>
                    <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
              </div></div>
            </form> <!-- /form -->
        </div>
    </div><!-- ./container -->
{% endblock %}